# Vim swap files
*.swp

*~

*tests

*.o
*.ko
*.obj
*.elf
*.in
*.out

*.lib
*.a
*.la
*.lo

target
classes
bin
*.log
dist
node_modules

# Eclipse
.classpath
.project
.settings
.metadata


# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
build
out
generated
MANIFEST.MF

#gradle
gradle
.gradle

#angular
node_modules

*.out
.DS_Store
*.swo
*.pl~
